[Unit]
Description=tftp file server
After=network.target


[Service]
Type=simple
User=tftp
ExecStart=/usr/bin/qtftpd -e -c /etc/qtftpd.conf
Restart=always
StartLimitInterval=30
StartLimitBurst=30
CapabilityBoundingSet=CAP_NET_BIND_SERVICE


[Install]
WantedBy=multi-user.target
